.rund 
{
	border-radius:50%;
}

.roundcorner
{
	border-radius: 3%;
}

h3
{
	color: #ffffff;
}

.bakgrund
{
	background-color: #b8b894;
	padding-top: 5%;
	padding-bottom: 5%;
	
}

.bakgrund2
{
	background-color: #3d3d29;
	padding-top: 5%;
	padding-bottom: 5%;
}

.bakgrund3
{
	background-color: #c2c2a3;
	padding-top: 5%;
	padding-bottom: 5%;
}

.bakgrund4
{
	background-color: #e0e0d1;
	padding-top: 5%;
	padding-bottom:5%;
}

.vittext
{
	color: #ffffff
}

.socialabilder
{
	padding: 10%;
	
}

.jobbbilder
{
	display: inline-block;
	padding-right: 10%;
	padding-left:10%;
	padding-top: 10%
}

.bildstorlekjobb
{
	width: 70%;
}

.bildstorlek
{
	width: 15%;
}

.typsnitt
{
	font-family: Titillium Web;
}