.rund 
{
	border-radius:50%;
}

h3
{
	color: ##ffffff;
}

.bakgrund
{
	background-color: #b8b894;
	padding: 10px;
}

.vittext
{
	color: #ffffff
}

.socialabilder
{
	padding: 10%;
	
}

.jobbbilder
{
	border-image-width: 30px;
	display: inline-block;
	padding-right: 10%;
	padding-left:10%;
}

.bildstorlekjobb
{
	width: 70%;
}


.bildstorlek
{
	width: 15%;
}